/users/Thonas_Nguyen(Linhnmth1810013)/T1811E_Java_Practice/nbproject/private/
/users/Thonas_Nguyen(Linhnmth1810013)/T1811E_Java_Practice/build/
/users/Thonas_Nguyen(Linhnmth1810013)/T1811E_Java_I/nbproject/private/
/users/Thonas_Nguyen(Linhnmth1810013)/T1811E_Java_I/build/
/users/Thonas_Nguyen(Linhnmth1810013)/T1811E_Java_I/dist/
/users/Thonas_Nguyen(Linhnmth1810013)/Assignment_Trainning_OOP/nbproject/private/
/users/Thonas_Nguyen(Linhnmth1810013)/Assignment_Trainning_OOP/build/
/users/Thonas_Nguyen(Linhnmth1810013)/Assingment_Manager_Book/nbproject/private/
/users/Thonas_Nguyen(Linhnmth1810013)/Assignment_Testing_60_Minutes/nbproject/private/
/users/Thonas_Nguyen(Linhnmth1810013)/T1811E_FinalTest/nbproject/private/
/users/Thonas_Nguyen(Linhnmth1810013)/T1811E_FinalTest/build/